<div class="section">
	<div class="container">
		<div class="content">
			<h1 class="content__title" *ngIf="!gameOver">Welcome to the game!</h1>
			<h1 class="content__title" *ngIf="gameOver">Try again!</h1>
			<hr />
			<!-- shows when a player no ones won the game -->
			<section *ngIf="gameOver" class="notification">
				<h1>No one won the game :(</h1>
				<button nbButton (click)="restartGame()">Restart Game</button>
			</section>
			<!-- shows when a player has won the game -->
			<section *ngIf="winner" class="notification" style="color: white">
				<h1>Player {{ winnerPlayer?.id }} has won the game!</h1>
				<button nbButton (click)="restartGame()">Restart Game</button>
			</section>
			<!-- table game board for each player -->
			<div *ngIf="!gameOver" class="columns">
				<div class="column" *ngFor="let board of boards; let i = index">
					<div
						class="player-wrapper"
						[style.display]="i == playerTurn ? 'none' : 'flex'"
					>
						<h5>
							PLAYER {{ board.player.id }}
							<span class="tag" *ngIf="i == playerTurn">You</span> //
							<strong>SCORE: {{ board.player.score }}</strong>
						</h5>
						<table
							cellspacing="0"
							class="table"
							[style.opacity]="i == playerTurn ? 0.5 : 1"
						>
							<tr *ngFor="let row of board.tiles; let j = index">
								<td
									*ngFor="let col of row; let k = index"
									(click)="fireTorpedo({i,j,k}, col.header)"
									[ngClass]="col.used ? 'used' : 'transparent'"
									[ngClass]="col.display ? 'header' : 'cell'"
									[class.win]="col.status == 'win'"
									class="battleship__tile"
									id="t{{ i }}{{ j }}{{ k }}"
								>
									{{
										col.display ? col.display : col.value === 'X' ? '🌀' : '🌊'
									}}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- number of players -->
			<div class="players">
				<h5 class="players__title">
					<small>{{ players }} player(s) in game</small>
				</h5>
			</div>
		</div>
	</div>
</div>
